<!DOCTYPE html>
<html ng-app="ivarsa">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/libraries/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libraries/angular-1.4.8.js"></script>
    <script type="text/javascript" src="/libraries/angular-route-1.4.8.min.js"></script>
    <script src="/javascripts/controllers/unitController.js"></script>
    <script src="/javascripts/services/unitService.js"></script>
    <script src="/javascripts/core.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iVarsa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/units">Setup <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Performance</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
        
      </ul>
    </div>

  </div>
      <div ng-view></div>
</nav>
  </body>
</html>
