<!DOCTYPE html>
<html ng-app="ivarsa">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/libraries/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libraries/angular-1.4.8.min.js"></script>
    <!--<script type="text/javascript" src="/libraries/angular-route-1.4.8.min.js"></script>-->
    <script src="/javascripts/controllers/unitController.js"></script> <!-- load up our controller -->
    <script src="/javascripts/services/unitService.js"></script> <!-- load our todo service -->
    <script src="/javascripts/core.js"></script> <!-- load our main application -->

  </head>
  <body ng-controller="unitController">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">iVarsa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/units">Setup <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Performance</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->

    <!-- list out all the units -->
    <div class="container">
      <table id="listUnitsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Unit Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Last Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
          <tbody>
            <tr  ng-repeat="unit in units">
              <td>{{ unit.unit_name }}</td>
              <td>{{ unit.description }}</td>
              <td>{{ unit.owner }}</td>
              <td>{{ unit.modified_datetime}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- end of listing out the units -->
  </div><!-- /.container-fluid -->
</nav>
  </body>
</html>
