
<div class="container">
    <table id="listUnitsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Unit Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Last Modified</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="unit in units" ng-click="viewDetails(unit)" style="cursor:pointer">
        <!--<tr  ng-repeat="unit in units" style="cursor:pointer">-->
            <td>{{ unit.unitName }}</td>
            <td>{{ unit.description }}</td>
            <td>{{ unit.owner }}</td>
            <td>{{ unit.modified_datetime}}</td>
            <td><a href="#/units/{{unit.id}}" class="thumb">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>