<div class="row hoursOfOperationMain">
    <div class="col span_1">&nbsp;</div>
    <div class="col span_22">
        <div class="form_result_div">

        </div>
        <div class="row regularHours">

            <div class="operatingHoursLabelDiv">Regular Hours</div>
            <div class="form_result_div">

            </div>
            <table class="table table-striped table-hover generic hours_of_operation_regular_table">
                <thead>
                <tr>
                    <th>DAYS</th>
                    <th>START TIME</th>
                    <th>END TIME</th>
                    <th>LAST APPOINTMENT</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="day in unit.hrsOfOperation">
                        <td>{{day.day}}</td>
                        <td>{{day.fromTime}}</td>
                        <td>{{day.untilTime}}</td>
                        <td>{{day.lastApptTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row holidays">

            <div class="operatingHoursLabelDiv">
                Holidays
                    <span> <i class="fa fa-plus"
                              style="position: relative; left: 36px; color: #27A774; font-size: 0.8em; top: 2px;">
                        &nbsp;</i>
                        <input type="button" name="addHolidayBtn" class="btn addHolidayBtn"
                               value="Add Holiday">
                    </span>
            </div>
            <div class="form_result_div">

            </div>
            <table class="table table-striped table-hover generic hours_of_operation_holiday_table">
                <thead>
                <tr>
                    <th>HOLIDAY NAME</th>
                    <th>DATE</th>
                    <th>START TIME</th>
                    <th>END TIME</th>
                    <th>LAST APPOINTMENT</th>
                    <th style="width:72px;"></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="holiday in unit.holidays">
                        <td>{{holiday.nameOfTheHoliday}}</td>
                        <td>{{holiday.holidayDate}}</td>
                        <td>{{holiday.fromTime}}</td>
                        <td>{{holiday.toTime}}</td>
                        <td>{{holiday.lastApptTime}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="hoursOfOperationButtonDiv">
        <input type="button" class="btn btn-success continueBtn" style="float:right; margin:15px 0px;"
               name="continueBtn"
               value="Continue"/>

        <div>
            <div class="col span_1">&nbsp;</div>
        </div>
    </div>
</div>