<div class="row nurseCoverageSection_main">
    <div class="col span_1">&nbsp;</div>
    <div class="col span_22">
        <div class="form_result_div">

        </div>
        <div class="row nurseCoverageDiv">
            <table class="table table-striped table-hover generic nurse_coverage_table">
                <thead>
                <tr>
                    <th>DAYS</th>
                    <th>START</th>
                    <th>END</th>
                    <th>SHIFT LENGTH</th>
                    <th>NO. OF NURSES</th>
                    <th style="width:15%"></th>
                </tr>
                </thead>
                <tbody ng-repeat="(key, value) in unit.nurseCoverage | groupBy: 'day'">
                    <tr ng-repeat="sch in value">
                        <td rowspan="{{value.length}}" ng-if="!($index%value.length)">{{key}}</td>
                        <td>{{sch.startTime}}</td>
                        <td>{{sch.endTime}}</td>
                        <td>{{sch.shiftLength}}</td>
                        <td>{{sch.noOfNurses}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="nurseCoverageButtonDiv">
        <input type="button" class="btn btn-success continueBtn" style="float:right; margin:15px 0px;" name="doneBtn"
               value="Save"/>

        <div>
            <div class="col span_1">&nbsp;</div>
        </div>
    </div>
</div>